*{
    
    margin: 0px ;
    
    padding: 0px ;
 
}

body{
    
    font-family: arial, sans , sans-serif;
    
    font-size: 13px;
}

#container{

width: 580px;

margin: 140px auto;

text-align: center;    
    
    
}

h1#logo{
    
    width:269px;
    
    height:95px;
   
    background: url('images/google.png') top left no-repeat ;
    
    background-size: 100%;
    
    float:top;

    background-position: center;
 
    margin: 0 auto;
    
    text-align:bottom;
    
  
    
}


input[ type="text" ]{
    
    width: 566px;
    
    padding: 7px;
    
    margin: 25px 0 18px 0 ;
    
    font-size:16px;
    
   text-align: center;
}



input[ type="text" ]:hover{
    
    border-color: #aaa;
    
    
    
}

input[ type="submit" ]{
    
    background: #eee;
    
    color: #333;
    
    border: solid 1px #ccc;
    
    padding: 5px;
    
    font-size: 12px;
    
    font-family: arial , sans-serif;
    
    font-weight: bold;
     
    margin: 0 5px;

}


input[ type="submit" ]:hover {
    
    
    cursor: pointer;
    
    
}


small {
    
    
    display: block;
    
    
    margin: 10px 0 0 0;

    font-size: 12px;

}

a:link,a:visited {
    
    
    color: dodgerblue ;
    
}



nav#header{
    
    text-align:right;
    
 
}


nav#header ul li {
    
    display: inline;
    
    
    
    
}


nav#header ul li a:link,
nav#header ul li a:visited,
footer  ul li a:link,
footer  ul li a:visited {
    
    
    color: #555;
    
    text-decoration: none;
    
    padding: 10px;
    
}


nav#header ul li a:hover,
footer  ul li a:link,
footer  ul li a:visited,
footer  ul li a:hover {
    
    
    text-decoration: underline;
    
    
    
}


footer

{
  
    background: #eee;
  
    position: fixed;
    
    bottom: 0px;
    
    width: 100%;
    
    padding: 20px 0px;
    
   
    
   
    
}

footer ul#fst {
    
   float: left;
    
}


footer ul li {
    display: inline;
    
    
}




footer ul.clearfix {
   
    text-align: right;
    float: right;
 
}


.clearfix:after {
    
    content: "";
    
    display: table;
    
    clear: both;
}

#tex{
    
    
    float: right;
    
    position:relative;
    
   padding-right: 77px;
   
    text-align:center;
    
   font-family: hacked;
}

#logo{
    
    margin-top:150px;
    
    
}

#gr{
    
   margin-top:-25px;
    
}

#gr1{
    
    
    margin-bottom: -60px;
    
    padding-bottom: 0px;
}

#divs{
    
   margin:-30px auto ;
    
  padding-top: 0px;

}
